# change to local mirror server
[baseos]
name=CentOS Stream - BaseOS
baseurl=https://plug-mirror.rcac.purdue.edu/centos/8-stream/BaseOS/x86_64/os/
gpgcheck=1
enabled=1
gpgkey=https://centos.org/keys/RPM-GPG-KEY-CentOS-Official

# change to local mirror server
[appstream]
name=CentOS Stream - AppStream
baseurl=https://plug-mirror.rcac.purdue.edu/centos/8-stream/AppStream/x86_64/os/
gpgcheck=1
enabled=1
gpgkey=https://centos.org/keys/RPM-GPG-KEY-CentOS-Official
