[main]
gpgcheck=0
installonly_limit=3
clean_requirements_on_remove=0
best=0
skip_if_unavailable=0
exit_on_lock=1
install_weak_deps=0
max_parallel_downloads=5
obsoletes=1
skip_broken=0
tolerant=1
localpkg_gpgcheck=0
